name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    # Run every week
    - cron: '0 0 * * 0'

jobs:
  linux:
    name: Collect Linux sysconfig
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dbhi/qus/action@main
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build armv7l docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/arm/v7
          load: true
          tags: python-armv7l:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Generate sysconfig.json
        run: |
          python3 generate_manylinux.py
          cat sysconfig-linux.json
      - name: Create Pull Request
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' }}
        uses: peter-evans/create-pull-request@v4
        with:
          delete-branch: true
          add-paths: |
            sysconfig-*.json
          title: 'Update sysconfig for Linux'
          commit-message: 'Update sysconfig for Linux'

  macos:
    name: Collect macOS sysconfig
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: "pypy-3.7"
      - uses: actions/setup-python@v2
        with:
          python-version: "pypy-3.8"
      - uses: actions/setup-python@v2
        with:
          python-version: "pypy-3.9"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.6"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Generate sysconfig.json
        run: |
          python3 generate_sysconfig.py
          cat sysconfig-macos.json
      - name: Create Pull Request
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' }}
        uses: peter-evans/create-pull-request@v4
        with:
          delete-branch: true
          add-paths: |
            sysconfig-*.json
          title: 'Update sysconfig for macOS'
          commit-message: 'Update sysconfig for macOS'

  windows:
    name: Collect Windows sysconfig
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: "pypy-3.7"
      - uses: actions/setup-python@v2
        with:
          python-version: "pypy-3.8"
      - uses: actions/setup-python@v2
        with:
          python-version: "pypy-3.9"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.6"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Generate sysconfig.json
        run: |
          python3 generate_sysconfig.py
          cat sysconfig-win*.json
      - name: Create Pull Request
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' }}
        uses: peter-evans/create-pull-request@v4
        with:
          delete-branch: true
          add-paths: |
            sysconfig-*.json
          title: 'Update sysconfig for Windows'
          commit-message: 'Update sysconfig for Windows'
